/**
 * Interface representing the Capacitor {{ CLASS }} Plugin.
 */
export interface {{ CLASS }}Plugin {
  /**
   * Echoes a value back.
   * @param options - An object containing a `value` property.
   * @returns A promise resolving to an object with the echoed value.
   *
   * @since 0.0.1
   */
  echo(options: { value: string }): Promise<{ value: string }>;
}
