import {
  Plugins,
  PluginImplementations,
  registerPlugin,
} from '@capacitor/core';

import { {{{ CLASS }}}Plugin } from './definitions';
import { {{{ CLASS }}}Web } from './web';

const implementations: PluginImplementations<{{{ CLASS }}}Plugin> = {
  android: Plugins.{{{ CLASS }}},
  ios: Plugins.{{{ CLASS }}},
  web: new {{{ CLASS }}}Web(),
};

const {{{ CLASS }}} = registerPlugin(
  '{{{ CLASS }}}',
  implementations,
).getImplementation();

export { {{{ CLASS }}} };
