import { WebPlugin } from '@capacitor/core';

import type { {{{ CLASS }}}Plugin } from './definitions';

export class {{{ CLASS }}}Web extends WebPlugin implements {{{ CLASS }}}Plugin {
  async echo(options: { value: string }): Promise<{ value: string }> {
    console.log('ECHO', options);
    return options;
  }
}
