import { WebPlugin } from '@capacitor/core';
import { {{{ CLASS }}}Plugin } from './definitions';

export class {{{ CLASS }}}Web extends WebPlugin implements {{{ CLASS }}}Plugin {
  constructor() {
    super({ name: '{{{ CLASS }}}' });
  }

  async echo(options: { value: string }): Promise<{ value: string }> {
    console.log('ECHO', options);
    return options;
  }
}
