// swift-tools-version: 5.9
import PackageDescription

let package = Package(
    name: "{{{ NATIVE_NAME }}}",
    platforms: [.iOS(.v13)],
    products: [
        .library(
            name: "{{{ NATIVE_NAME }}}",
            targets: ["{{ CLASS }}Plugin"])
    ],
    dependencies: [
        .package(url: "https://github.com/ionic-team/capacitor-swift-pm.git", branch: "main")
    ],
    targets: [
        .target(
            name: "{{ CLASS }}Plugin",
            dependencies: [
                .product(name: "Capacitor", package: "capacitor-swift-pm"),
                .product(name: "Cordova", package: "capacitor-swift-pm")
            ],
            path: "ios/Sources/{{ CLASS }}Plugin"),
        .testTarget(
            name: "{{ CLASS }}PluginTests",
            dependencies: ["{{ CLASS }}Plugin"],
            path: "ios/Tests/{{ CLASS }}PluginTests")
    ]
)