{
  "name": "{{{ PACKAGE_NAME }}}",
  "version": "0.0.1",
  "description": "{{{ DESCRIPTION }}}",
  "main": "dist/plugin.js",
  "module": "dist/esm/index.js",
  "types": "dist/esm/index.d.ts",
  "author": "{{{ AUTHOR }}}",
  "license": "{{{ LICENSE }}}",
{{ #REPO_URL }}
  "repository": {
    "type": "git",
    "url": "git+{{{ REPO_URL }}}.git"
  },
  "bugs": {
    "url": "{{{ REPO_URL }}}/issues"
  },
{{ /REPO_URL }}
  "keywords": [
    "capacitor",
    "plugin",
    "native"
  ],
  "scripts": {
    "lint": "npm run prettier -- --check && npm run swiftlint -- lint",
    "fmt": "npm run prettier -- --write && npm run swiftlint -- autocorrect --format",
    "prettier": "prettier \"**/*.{css,html,ts,js,java}\"",
    "swiftlint": "node-swiftlint",
    "build": "npm run clean && tsc && rollup -c rollup.config.js",
    "clean": "rimraf ./dist",
    "watch": "tsc --watch",
    "prepublishOnly": "npm run build"
  },
  "devDependencies": {
    "@capacitor/android": "{{{ CAPACITOR_VERSION }}}",
    "@capacitor/core": "{{{ CAPACITOR_VERSION }}}",
    "@capacitor/ios": "{{{ CAPACITOR_VERSION }}}",
    "@ionic/prettier-config": "^1.0.0",
    "@ionic/swiftlint-config": "^1.0.0",
    "@rollup/plugin-node-resolve": "^8.1.0",
    "prettier": "^2.0.5",
    "prettier-plugin-java": "^0.8.0",
    "rimraf": "^3.0.0",
    "rollup": "^2.21.0",
    "swiftlint": "^1.0.0",
    "typescript": "~3.9.7"
  },
  "peerDependencies": {
    "@capacitor/core": "{{{ CAPACITOR_VERSION }}}"
  },
  "prettier": "@ionic/prettier-config",
  "swiftlint": "@ionic/swiftlint-config",
  "capacitor": {
    "ios": {
      "src": "ios"
    },
    "android": {
      "src": "android"
    }
  }
}
