# {{{ PACKAGE_NAME }}}

{{{ DESCRIPTION }}}

## Install

```bash
npm install {{{ PACKAGE_NAME }}}
npx cap sync
```

## API

<docgen-index></docgen-index>

<docgen-api>
<!-- run docgen to generate docs from the source -->
<!-- More info: https://github.com/ionic-team/capacitor-docgen -->
</docgen-api>
