# {{{ PACKAGE_NAME }}}

**Author Notes**

Congratulations on generating your plugin! The following notes are for you.

* See [`CONTRIBUTING.md`](./CONTRIBUTING.md) for setup instructions and a list of scripts
* See the [Capacitor docs](https://capacitorjs.com/docs/plugins) for next steps for plugin development
* Questions? Feel free to [open a discussion](https://github.com/ionic-team/capacitor/discussions)
* Learn more about the [Capacitor Community](https://github.com/capacitor-community/welcome) :sparkling_heart:

Feel free to delete this section whenever you're ready.

---

{{{ DESCRIPTION }}}

## Install

```bash
npm install {{{ PACKAGE_NAME }}}
npx cap sync
```

## API

<docgen-index></docgen-index>

<docgen-api>
<!-- run docgen to generate docs from the source -->
<!-- More info: https://github.com/ionic-team/capacitor-docgen -->
</docgen-api>
