export default {
  input: 'dist/esm/index.js',
  output: [{
    file: 'dist/plugin.js',
    format: 'iife',
    name: 'capacitor{{{ CLASS }}}',
    globals: {
      '@capacitor/core': 'capacitorExports',
    },
    sourcemap: true,
    inlineDynamicImports: true,
  },
  {
    file: 'dist/index.js',
    format: 'cjs',
    sourcemap: true
  }],
  external: ['@capacitor/core'],
};
